.main-container {
    margin-top: 75px;
}

#game ul li {
    list-style: none;
}

#game ul {
    padding-left: 0;
}

#game ul > li > ul{
    padding-left: 24px;
}

#game li span.name.folder {
    background: url('../image/folder.png') no-repeat;
    padding: 6px 0 4px 36px;
    margin-bottom: 3px;
    display: inline-block;
    cursor: pointer;
}